.advantages
    background-color: #f6f6f6
    min-height: 470px
    padding: 70px 0 75px 0
    &__wrapper
        display: flex
        justify-content: space-between
        margin-top: 60px
    &__cards
        display: inline-block
        width: 247px
        font-weight: 300
        font-size: 14px
        text-align: center
        color: #0d0d0d
        margin: 0 10px
    &__title
        font-weight: 700
        font-size: 18px
        margin-top: 40px
        margin-bottom: 25px
        line-height: 18px
    &__descr
        a   
            text-decoration: underline
            color: $main-color
            &:hover
                color: $main-color